version: '3.8'

services:
  app:
    build: .
    container_name: spam-detection-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
      - ./artifacts:/app/artifacts
